*{
  scroll-behavior: smooth;
  margin: 0;
  font-style:italic;
}

#navigation {
  position: fixed;
  display: flex;
  flex-direction: row;
  list-style: none;
  color: white;
  font-family: Comic Sans Ms;
  font-size: 1.5em;
  margin-top:1em;
  margin-left: 10vw;
  display: flex;
  flex-direction: row;
  transform: translateY(-.2em);
  justify-content:center;
  align-items: center;
}


#navigation a{
  text-decoration: none;
  position: relative;
  right: 8em;
  width:10em;
  padding:.3em 0;
  text-align: right;
  border-radius: .3em;
  padding-right: .3em;
  margin: .5em;
  cursor: pointer;
}


    .navtext{
      display:inline-block;
      text-align: center;
  }

  #navigation a:nth-of-type(1)
{
background:none;
color: rgb(255, 149, 0);
}
#navigation a:nth-of-type(2)
{
background:none;
columns: rgb(255, 149, 0);
}
#navigation a:nth-of-type(3)
{
background:none;
color: rgb(255, 149, 0);
}
#navigation a:nth-of-type(4)
{
background:none;
color:rgb(255, 149, 0);
}  
#navigation a:nth-of-type(5)
{
background:none;
color:rgb(255, 149, 0);
}

#navigation a{
  background: none;
  color: rgb(255, 149, 0);
  border: solid 2px;
  padding:0 0;
  right:0;
  text-align: center;
  width: max-content;
  font-size: 1.2rem;
  transition: color .20s, border-color 0.20s , box-shadow 0.20s , transform 0.20s;
}
#navigation a:hover{
  border-color: #f1ff5c;
  color: white; 
  box-shadow: 0 0.5em 0.5em -.4em #f1ff5c;
  cursor: pointer;
}


body {
  background-position: center;
  background-image: url('Photos/background.jpg');
  background-size:cover;
}
.intro{
  background-image: url(Photos/spot.jpg);
  background-size:100% 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#profilepic{
  width:auto;
  height: 40%;
  border-radius: 50%;
}
#MyIntro{
  padding-left: 0.8em ;
  color: rgb(255, 86, 24);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
}
    



.About_me{
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-weight: bold;
  font-size: 8vh;
  color: #206A5D;
  margin-top: 10vh;
}

.box{
  margin-left: 40vh;
  margin-right: 40vh;
}


.MyIntro{
  padding-top: 50vh;
}
.About_me{
  text-align: center;
  font-weight: bold;
  font-size: 8vh;
  color: #004d3f;
}
.Mydescription{
  text-align: left;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: -50vh;
  font-weight: bold;
  font-size: 4vh;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #6089fb;
  margin-bottom:10vh ;
}
.education
{
  margin-top: -35vh;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    color: rgb(238, 238, 189);
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10vh;
    
}

.education div{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(45deg,rgb(111, 111, 255),rgb(255, 102, 209));
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 50vh;
  width: 30%;
  border-radius: 2em;
  flex-wrap: wrap;
  

}
.head{
  text-align: center;
  font-size: 10vh;
  font-style: comic sans ms;
  color: rgb(118, 80, 255)
}

.SKILLS
{
  margin-top: -35vh;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    color: rgb(238, 238, 189);
    align-items: center;
    flex-wrap: wrap;
    
}
.SKILLS div{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(45deg,rgb(139, 139, 237),rgb(251, 152, 221));
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 40vh;
  width: 20%;
  border-radius: 2em;
  flex-wrap: wrap;
  
}

.contact {
  text-align: center;
}

.foot {
  padding: 4px;
  color: rgb(102, 4, 94);
  margin-left: 3px;
}

.foot:hover {
  color: rgb(102, 4, 94);
}

.align{
  border-radius: 2vh;
  border-top: 2vh;
}
 @media (max-width:1285px){
  .Mydescription{
    font-size: 2.1vw;
  }
 }



@media (max-width: 1160px) {
  #MyIntro{
    padding-left: 0.8em ;
    color: rgb(255, 86, 24);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
#profilepic{
    width:auto;
    height: 35%;
    border-radius: 50%;
}

  .About_me{
    margin-left: 12vw;
  }

  .Mydescription{
    font-size: 2.4vw;
  }
}

@media(max-width:680px){
  .intro{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
  
  #profilepic{
    width:auto;
    height: 35%;
    border-radius: 50%;
}

  .Mydescription{
    font-size: 2.3vh;
  }

  .education
{
  margin-top: -35vh;
    height: 200vh;
    display: flex;
    justify-content: space-evenly;
    color: rgb(238, 238, 189);
    align-items: center;
    flex-wrap: wrap;
    
}

.education div{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(45deg,rgb(111, 111, 255),rgb(255, 102, 209));
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 15vh;
  margin-bottom: -10vh;
  height: 45vh;
  width: 60vw;
  border-radius: 2em;
  flex-wrap: wrap;
  font-size: 1.5vh;
  gap:inherit;
  

}


.SKILLS
{
  margin-top: -15vh;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    color: rgb(238, 238, 189);
    align-items: center;
    flex-wrap: wrap;
    
}
.SKILLS div{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(45deg,rgb(139, 139, 237),rgb(251, 152, 221));
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 30vh;
  width: 50%;
  border-radius: 2em;
  flex-wrap: wrap;
  
}
.align{
  border-top: 2vh;
}

}
.align{
  border-top: 2vh;
}




