*{
  scroll-behavior: smooth;
  margin: 0;
  font-style:italic;
}

#navigation {
  position: fixed;
  display: flex;
  flex-direction: row;
  list-style: none;
  color: white;
  font-family: Comic Sans Ms;
  font-size: 1.5em;
  margin-left: 10vw;
  display: flex;
  flex-direction: row;


  
}
.icon{
  height: 1.5em;
  padding-left:0vw;
}
.navtext{
  display:none;
}
#navigation a{
  text-decoration: none;
  position: relative;
  right: 8em;
  width:10em;
  padding:.3em 0;
  text-align: right;
  border-radius: .3em;
  padding-right: .3em;
  margin: .5em;
  cursor: pointer;
}
#navigation #home:hover {
  transition-timing-function:ease-in;
  transition-duration: .25s;
}
#navigation #Education:hover {
  transition-timing-function:ease-in;
  transition-duration: .25s;
}#navigation #Skills:hover {
  transition-timing-function:ease-in;
  transition-duration: .25s;


}
#navigation #Contact:hover {
  transition-timing-function:ease-in;
  transition-duration: .25s;
}

#navigation a:hover .navtext{
  display: inline-block;

}
#navigation a:nth-of-type(1)
{
background-color:rgb(225, 67, 67);
color: rgb(225, 67, 67);;
}
#navigation a:nth-of-type(2)
{
background-color: rgb(225, 67, 67);
columns: rgb(225, 67, 67);;
}
#navigation a:nth-of-type(3)
{
background-color:rgb(225, 67, 67);
color: rgb(225, 67, 67);;
}
#navigation a:nth-of-type(4)
{
background-color:rgb(225, 67, 67);
color: rgb(225, 67, 67);;
}


body {
  background-position: center;
  background-image: url('Photos/background.jpg');
  background-size:cover;
}
.intro{
  height: 100vh;
    width: 200vh;
  background-image: url(Photos/spot.jpg);
  background-position: center;
  background-position: 15vw;
    background-repeat: no-repeat;

}
 .myself{
  position: absolute;
  text-align: center;
  width: 40vw;
  margin-right: 90vw;
  margin-left: 65vh;;
  margin-top: 27vh;
  font-size: 7vh;
  font-weight: bold;
  color: rgb(225, 67, 67);
  font-style:italic;
}

.profilepic{
  border-radius: 100vh;
  height: 40vh;
  margin-left: 85vh;
  margin-right: 50vw;
  margin-top: 50vh;
}
@media(max-width:860px)
{
    #navigation {
        position: fixed;
        display: flex;
        flex-direction: row;
        list-style: none;
        color: white;
        font-family: Comic Sans Ms;
        font-size: 1.5em;
        margin-top:1em;
        transform: translateY(-.2em);
        justify-content:center;
        align-items: center;
    }
    .navtext{
        display:inline-block;
        text-align: center;
    }
    .icon{
        display: none;
    }

    #navigation #home:hover {
        transform: translateX(0);
        transition-timing-function:ease-in;
        transition-duration: .25s;
    }
    #navigation #Education:hover {
        transform: translateX(0);
        transition-timing-function:ease-in;
        transition-duration: .25s;
    }#navigation #Skills:hover {
        transform: translateX(0);
        transition-timing-function:ease-in;
        transition-duration: .25s;
    }
    }#navigation #cContact:hover {
        transform: translateX(0);
        transition-timing-function:ease-in;
        transition-duration: .25s;
    }
    #navigation a:hover .navtext{
        display: inline-block;
    
    }
    #navigation a:nth-of-type(1)
    {
    background:none;
    color: rgb(255, 149, 0);
    }
    #navigation a:nth-of-type(2)
    {
    background:none;
    columns: rgb(255, 149, 0);
    }
    #navigation a:nth-of-type(3)
    {
    background:none;
    color: rgb(255, 149, 0);
    }
    #navigation a:nth-of-type(4)
    {
    background:none;
    color:rgb(255, 149, 0);
    }

   #navigation a{
        background: none;
        color: rgb(255, 149, 0);
        border: solid 2px;
        padding:0 0;
        right:0;
        text-align: center;
        width: max-content;
        font-size: 1.2rem;
        transition: color .20s, border-color 0.20s , box-shadow 0.20s , transform 0.20s;
    }
    #navigation a:hover{
        border-color: #f1ff5c;
        color: white; 
        box-shadow: 0 0.5em 0.5em -.4em #f1ff5c;
        cursor: pointer;
    }
    



.About_me{
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-weight: bold;
  font-size: 8vh;
  color: #206A5D;
}

.box{
  margin-left: 40vh;
  margin-right: 40vh;
}

.MyIntro{
  padding-top: 50vh;
}
.About_me{
  text-align: center;
  font-weight: bold;
  font-size: 8vh;
  color: #004d3f;
}
.Mydescription{
  text-align: left;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: -50vh;
  font-weight: bold;
  font-size: 4vh;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #6089fb;
}
.education
{
  margin-top: -35vh;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    color: rgb(238, 238, 189);
    align-items: center;
    
}

.education div{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(45deg,rgb(111, 111, 255),rgb(255, 102, 209));
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 50vh;
    width: 30%;
    border-radius: 2em;
    

}


