*{
  scroll-behavior: smooth;
  margin: 0;
  font-style:italic;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed; 
  top: 0;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.topnav a:hover {
  background-color: #0428aa;
  color: #f2f2f2
}




body {
  background-position: center;
  background-image: url('Photos/bg2.jpg');
  background-size:cover;
}
.intro{
  background-image: url(Photos/bg1.jpg);
  background-size:100% 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#profilepic{
  width:auto;
  height: 40%;
  border-radius: 50%;
}
#MyIntro{
  padding-left: 0.8em ;
  color: white;
  font-family: Comic Sans Ms;
  font-size: 2em;
}
    



.About_me{
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-weight: bold;
  font-size: 8vh;
  color: white;
  margin-top: 10vh;
}

.box{
  margin-left: 40vh;
  margin-right: 40vh;
}


.MyIntro{
  padding-top: 50vh;
}
.About_me{
  text-align: center;
  font-weight: bold;
  font-size: 8vh;
  color:  rgb(86, 86, 86);
}
.Mydescription{
  text-align: left;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: -50vh;
  font-weight: bold;
  font-size: 4vh;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(255, 255, 255);
  margin-bottom: 20vh ;
}
.About_me1{
  text-align: center;
 margin-top: 5vh;
  font-weight: bold;
  font-size: 4vh;
  color:  rgb(86, 86, 86);
}
.education
{
  margin-top: -35vh;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    color: rgb(238, 238, 189);
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10vh;
    
}

.education div{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(45deg,rgb(111, 111, 255),rgb(115, 0, 144));
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 50vh;
  width: 30%;
  border-radius: 2em;
  flex-wrap: wrap;
  

}
.head{
  text-align: center;
  font-size: 10vh;
  font-style: comic sans ms;
  color: rgb(86, 86, 86);
}

.SKILLS
{
  margin-top: -35vh;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    color: rgb(238, 238, 189);
    align-items: center;
    flex-wrap: wrap;
    
}
.SKILLS div{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(45deg,rgb(111, 111, 255),rgb(115, 0, 144));
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 40vh;
  width: 20%;
  border-radius: 2em;
  flex-wrap: wrap;
  
}

.contact {
  text-align: center;
  color: rgb(255, 255, 255);
  display:block;
  background-color: rgba(186,186,186);
}



.align{
  border-radius: 2vh;
  border-top: 2vh;
}
 @media (max-width:1285px){
  .Mydescription{
    font-size: 2.1vw;
  }
 }



@media (max-width: 1160px) {
  #MyIntro{
    padding-left: 0.8em ;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
#profilepic{
    width:auto;
    height: 35%;
    border-radius: 50%;
}

  .About_me{
    margin-left: 12vw;
    text-align: center;
  }

  .Mydescription{
    font-size: 2.4vw;
  }
}

@media(max-width:680px){

  .topnav{
    display: none;
}

  .intro{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.About_me{
  text-align: center;
}
  
  #profilepic{
    width:auto;
    height: 35%;
    border-radius: 50%;
}

  .Mydescription{
    font-size: 2.3vh;
  }

  .education
{
  margin-top: -35vh;
    height: 200vh;
    display: flex;
    justify-content: space-evenly;
    color: rgb(238, 238, 189);
    align-items: center;
    flex-wrap: wrap;
    
}

.education div{
  display: flex;
  justify-content: center;
  background-image:linear-gradient(45deg,rgb(111, 111, 255),rgb(115, 0, 144));
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 15vh;
  margin-bottom: -10vh;
  height: 45vh;
  width: 60vw;
  border-radius: 2em;
  flex-wrap: wrap;
  font-size: 1.5vh;
  gap:inherit;
  

}


.SKILLS
{
  margin-top: -15vh;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    color: rgb(238, 238, 189);
    align-items: center;
    flex-wrap: wrap;
    
}
.SKILLS div{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(45deg,rgb(111, 111, 255),rgb(115, 0, 144));
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 30vh;
  width: 50%;
  border-radius: 2em;
  flex-wrap: wrap;
  
}
.align{
  border-top: 2vh;
}

}
.align{
  border-top: 2vh;
}

.show {
 margin-top: 1vh;
  color: rgb(118, 80, 255);
  margin-left: 3px;
}

.show:hover {
  color: rgb(68, 68, 68);

}

.text-primary{
  color:rgb(68, 68, 68);
  font-style: italic;
}




